/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap-all
*= require font-awesome-all
*= require main
*= require mobile
*= require navigation
*= require sections
*= require stories
*= require weddingParty
*= require registry
*= require_self
*/

.profile-image {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 25px auto 0;
}

.welcome-image {
    max-width: 50%;
    height: auto;
}

.signature {
    margin-top: 0;
    margin-bottom: 0;
    font: 400 55px/1.3 'SackersGothicStd-Medium', serif;
    color: #666666;
}

.wedding-date {
    font: 400 20px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #666666;
}

.title-area {
    padding-top: 75px;
    padding-left: 20%;
    padding-right: 20%;
}

.navbar-heading {
    padding-left: 15px;
    float: left;
    color: #69a198;
}

@media screen and (max-device-width: 640px) {
    .signature {
        font: 400 40px/1.3 'SackersGothicStd-Medium', serif;
    }
}

@media screen and (min-width: 766px) {
    .navbar-heading {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .welcome-image {
        max-width: 100%;
        height: auto;
    }

    .signature {
        font-size: 40px;
    }
}
