.navbar {
    background-color: white;
    width: 100%;
    border-bottom: solid 5px rgba(152, 189, 197, 0.45);
    min-height: 30px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-nav > li > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 15px;
}
