
.wedding-party-side {
    display: inline-block;
}

.wedding-party-member {
    margin-top: 15px;
    margin-bottom: 15px;
    background: rgba(196, 196, 196, 0.85);
    /*background: rgba(152, 189, 197, 0.6);*/
    border-radius: 20px;
    vertical-align: top;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
    width: 550px;
}

.wedding-party-member-other {
    display: inline-block;
}

.wedding-party-text {
    min-width: 225px;
    min-height: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
    word-wrap: break-word;
    padding: 5px 15px 5px 15px;
}

.wedding-party-image-main {
    width: 200px;
    height: 200px;
    padding-right: 10px;
    border-radius: 20px;
}

.wedding-party-image {
    width: 150px;
    height: 150px;
    padding-right: 10px;
    border-radius: 20px;
}

.wedding-party-name {
    font-size: 25px;
    padding-right: 50px;
    text-align: center;
    margin-bottom: 0;
}

.wedding-party-role {
    color: #91c6c6;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-right: 50px;
    text-align: center;
    margin-bottom: 5px;
}

.wedding-party-text > i {
    float: right;
    padding-left: 25px;
    padding-top: 20px;
}

.party-info {
    min-height: 150px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    text-indent: 2em;
    font-size: 15px;
}

@media screen and (max-width: 575px) {
    .wedding-party-member {
        width: 90%;
        margin-left: 15px;
        margin-right: 15px;
    }
}
